[Unit]
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=serve -s {{ path_of_frontend_app }}/build


[Install]
WantedBy=multi-user.target
