[Unit]
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart={{ path_of_gateway_app }}/target/gateway-service.jar


[Install]
WantedBy=multi-user.target
